.btn-custom {
  background-color: #19B09F;
  color: white;
}

.nav {
  background-color: #19B09F;
}

.navbar { 
  background-color: #19B09F;
} 

.nav-link{
  color: white !important;
  font-weight: bold;
}

.active {
  background-color: red;
  color: black;
}

/* .navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar h3 {
  display: inline-block;
  text-align: left;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
} */

/* .page-info {
  padding: 10px;
}

.Current {
  color: #2e8b57;
}

.Completed {
  color: #ff6347;
  text-decoration: line-through;
} */

