.header {
    position: absolute;
    height: 36px;
    left: 16px;
    right: 16px;
    top: 60px;
  }

.header__back {
    position: absolute;
    width: 35px;
    height: 19px;
    left: 0px;
    top: calc(50% - 19px/2 - 0.5px);

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #19B09F;
}

.header__name {
    position: absolute;
    width: 189px;
    height: 29px;
    left: calc(50% - 189px/2 + 2px);
    top: 1px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    /* Black */

    color: #000000;
}
